---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
sitemap: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for item in collections.all -%}
    {%- set itemUrl = item.url -%}
    {%- if itemUrl and item.data.sitemap != false and item.data.noindex != true and itemUrl != "/404/" and itemUrl != "/404.html" and "/admin/" not in itemUrl -%}
  <url>
    <loc>{{ site.url }}{{ itemUrl }}</loc>
  </url>
    {%- endif -%}
  {%- endfor -%}
</urlset>
